<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <div class="card card-body">

      <form (submit)="edit ? updateUser() : submitUser()">
        <div class="form-group">
          <label for="exampleInputEmail1">Ingrese Usuario</label>
          <input type="text" name="name" [(ngModel)]="user.username" class="form-control" placeholder="User Name"
            autofocus>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Ingrese Email</label>
          <input type="text" name="description" [(ngModel)]="user.email" class="form-control"
            placeholder="email">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Ingrese Password</label>
          <input type="text" name="price" [(ngModel)]="user.password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
